* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/* Remove annoying border on linked images. */
a img {
	border: none;
}
